<html>
<head>
<link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../static/css/index.css"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JustDoist</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/materialize.min.js"></script>
<script type="text/javascript" src="../static/js/colorscheme.js"></script>

<meta http-equiv="Cache-Control" content="no-cache">
<link rel="icon" href="../static/img/logo.png">

</head>
    
<style id="style-color">
    :root {
      --color-red: #e44332ff;
      --color-blue: #1B92C6;
    }
</style>
    
<body id="content">
  
<nav class="layout-color">
    
<div class="nav-wrapper layout-color">
  <a href="index" class="brand-logo left" style="font-weight: 600; margin-left: 1rem;">J <img id="logo_img" src="../static/img/logo_red.svg"> stDoist</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="index"><i class="material-icons left">description</i>PROBLEMS</a></li>
    <li><a href="profile/no_add"><i class="material-icons left">equalizer</i>PROGRESS</a></li>
    <li><a href="settings"><i class="material-icons left">settings</i>SETTINGS</a></li>
    <li><a href="contact_us" class="active"><i class="material-icons left">info_outline</i>CONTACT US</a></li>
    <li><a href="logout"><i class="material-icons">exit_to_app</i></a></li>
    <li><a class="acolor" href="javascript:changecolor()"><div class="color layout-color-inv z-depth-5"></div></a></li>
  </ul>
  <ul class="right hide-on-large-only">
    <li><a href="index"><i class="material-icons">description</i></a></li>
    <li><a href="profile/no_add"><i class="material-icons">equalizer</i></a></li>
    <li><a href="settings"><i class="material-icons">settings</i></a></li>
    <li><a href="contact_us" class="active"><i class="material-icons">info_outline</i></a></li>
    <li><a href="logout"><i class="material-icons">exit_to_app</i></a></li>
    <li><a class="acolor" href="javascript:changecolor()"><div class="color layout-color-inv z-depth-5"></div></a></li>
  </ul>

</div>
</nav>

<!--  Main  -->
<div class="container" style="width:85%;"><div class="row">
    <div class="col s12">
        <div class="card">
        <div class="card-content">
        <h4>Contact us</h4>
        <p>
            If you're experiencing any problems with JustDoist feel free to contact us!<br>
            Telegram: <a href="http://t.me/lifetimealone" target="_blank">@LifetimeAlone</a><br>
            E-mail: <a href="mailto:vlad@htmlbook.ru" target="_blank">v-alexander@protonmail.com</a><br>
        </p>
        <h4>FAQ</h4>
        <p>
            <b>Why do I have to wait for one day before I can access new problem tip?<br></b>
            Don't hurry - you have to work on your problems consistently and patiently to have result.<br>
            <br>
            <b>When are new features and problems coming?<br></b>
            Our team is quite small (we're actually only 2) and we're working as hard as we can.<br>
            We're probably launching a new version in summer.<br>
            <br>
            <b>Can I suggest new features and content for the project?<br></b>
            Yes! We would be great to hear from you.<br>
            <br>
            <b>How can I support the project and help it grow faster?<br></b>
            Premium accounts with more functionality are coming soon!<br>
            At the moment, the best help would be sharing JustDoist with your friends and family.
        </p>
    </div></div></div>
</div></div>
    
</body>
     
<script>
$(document).ready(function(){
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        startingTop: '0%', // Starting top style attribute
        endingTop: '0%' // Ending top style attribute
    });
    $('.tooltipped').tooltip({delay: 50});
    $('select').material_select();
    $(".dropdown-button").dropdown({hover:true});
    drawcolor();
});
</script>
</html>
