<html>
    
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
<meta http-equiv="Cache-Control" content="no-cache">
<title>JustDoist</title>
</head>
    
<body>
    
<div class="wrapper">
<div class="cont">
    <div class="logotext">
    J<img src="{{ url_for('static', filename='img/logo.svg') }}">STDOIST
    </div>
    <button type="button" name="signin" class="waves-effect waves-light btn white" onclick="document.location='authorize/todoist'">Sign Up with Todoist</button>
</div>
</div>
    
</body>
</html>
