<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JustDoist</title>

{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colorscheme.js' %}"></script>
<script src="{% static 'js/showdown.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<link rel="icon" href="{% static 'img/logo.png' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}"  media="screen,projection"/>


</head>
<style id="style-color">
    :root {
      --color-red: #e44332ff;
      --color-blue: #1B92C6;
    }
</style>

<body id="content">
    
<nav class="layout-color">
<div class="nav-wrapper layout-color">
  {% load staticfiles %}
  <a href="" class="brand-logo left" style="font-weight: 600; margin-left: 1rem;">J <img id="logo_img" src="{% static 'img/logo_red.svg' %}"> stDoist</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="" class="active"><i class="material-icons left">description</i>PROBLEMS</a></li>
    <li><a href="/profile/no_add"><i class="material-icons left">equalizer</i>PROGRESS</a></li>
    <li><a href="/settings"><i class="material-icons left">settings</i>SETTINGS</a></li>
    <li><a href="/contact_us"><i class="material-icons left">info_outline</i>CONTACT US</a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
  </ul>
  <ul class="right hide-on-large-only">
    <li><a href="" class="active"><i class="material-icons">description</i></a></li>
    <li><a href="/profile/no_add"><i class="material-icons">equalizer</i></a></li>
    <li><a href="/settings"><i class="material-icons">settings</i></a></li>
    <li><a href="/contact_us"><i class="material-icons ">info_outline</i></a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
  </ul>

</div>
</nav>
    
<!--  Main  -->
<div class="container" style="width:85%;"><div class="row">
    
<div class="col s12 l7">
    
    <div class="card">
        <div class="card-content">
            <h4><i class="material-icons">error</i><b> PROBLEM</b></h4>
            <div id="problem-text"></div>
<!--            TODO            -->
            {% if butt %}
            <button type="button" class="waves-effect waves-light btn red pulse" style="margin-left: auto;display: block;" onclick="redirect_on_add();">Do It!</button>
            {% endif %}
        </div>
    </div> 
    <script>
        text = '{{ problem_text | safe}}';
        text = text.replace('\n', '<br />');
        txt = new showdown.Converter({underline: true}).makeHtml(text);
        $('#problem-text').html(txt);
    </script>
</div>
    
<div class="col s12 l5">
    <div class="card">
        <div class="card-content">
            <h5><b>YOUR STATISTICS</b></h5>
            <span>Last week</span>
            <div class="stats-crytery">
                {% if stats %}
                <a>Your karma <p>{{ stats.percentage }}%</p></a>
                <div class="stats-slider">
                    <div data="{{ stats.percentage }}"></div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    
    
    
    <div class="card">
        <div class="card-content">
            <h5><b>YOUR PRODUCTIVITY</b></h5>
            <span>Last week</span>
            <canvas id="myChart" width="400px" height="400px"></canvas>
        </div>
    </div> 
   
    <script>
        
        $.ajax({
              url: '/statistics',
              type: "GET",
              async: true,
              success: onAjaxSuccess,
              error: function(jqXHR, exception) {console.log(jqXHR);}
        });
        function onAjaxSuccess(data){

            data = JSON.parse(data)["graph"];
            var week = ["mo", "tu", "we", "thu", "fr", "sat", "sun"];
            var day = new Date().getDay();
            f_part = week.slice(0, day);
            s_part = week.slice(day-7);
            week_labels = s_part.concat(f_part);


            var ctx = document.getElementById("myChart").getContext('2d');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: week_labels,
                    datasets: [{
                        data: {% if stats %} {{ stats.graph }} {% else %} {} {% endif %},
                        label: "Karma",
                        borderColor: "#e44332ff",
                        fill: "origin"
                      }]
                },
                options: {
                    title: {display: true},
                    legend: {display:false}
                }
            });
        }
        function redirect_on_add(){
            $.ajax({
              url: 'profile/add',
              type: "GET",
              async: true,
              success: onAjaxSuccess,
              error: function(jqXHR, exception) {alert(jqXHR);}
            });
            function onAjaxSuccess(){
                document.location="profile/no_add";
            }
        }
    </script>
    
    
</div>
        
</div></div>
    
    
</body>
     
<script>
$(document).ready(function(){
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        startingTop: '0%', // Starting top style attribute
        endingTop: '0%' // Ending top style attribute
    });
    $('select').material_select();
    $(".dropdown-button").dropdown({hover:true});
    build_stats();
    drawcolor();
});
function build_stats(){
    slid = $('.stats-slider > div');
    for (i = 0; i < slid.length; i++){
        wid =  parseInt($(slid[i]).attr("data"));
        if (wid < 0){
            $(slid[i]).addClass("grad-minus");
            $(slid[i]).css("margin-right", "50%");
            $(slid[i]).animate({
                "width": Math.abs(wid)/2 + "%"
            }, 1000);
            
            $(slid[i]).css({
                "width" : Math.abs(wid)/2 + "%",
            })
        }
        else{
            $(slid[i]).addClass("grad-plus");
            $(slid[i]).css("margin-left", "50%");
            $(slid[i]).animate({
                "width" :  Math.abs(wid)/2 + "%",
            })
            $(slid[i]).css({
                "width" :  Math.abs(wid)/2 + "%",
            })
        }
    }
}
</script>
</html>
