<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JustDoist</title>

{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
<link rel="icon" href="{% static 'img/logo.png' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/landingpage.css' %}"  media="screen,projection"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<style>

</style>
<body id="content">
<div class="section" id="first_section"><div>

    <div class="logotext">
    J<img src="/static/img/logo.svg">STDOIST
    </div>
    <h5>UNLEASH YOUR PRODUCTIVITY</h5>
    <p class="flow-text">
        JustDoist is an amazing service for learning personal<br> productivity and time-managment skills. <br>
        Ger personalized tips on how to achieve your daily goals<br> and step-by-step guides on boosting your efficiency.<br><br>
        We use advanced technology to analyse your planning habits <br> and create custom learning program.
    </p>
    <a href="/login" class="waves-effect waves-light btn-large white red-text" >Sign Up</a>
    <h5>SEE JUSTDOIST IN ACTION</h5>
    <a href="" class="waves-effect waves-light btn-floating white"><i class="material-icons red-text">arrow_downward</i></a>
</div></div>


</body>
</html>