<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JustDoist</title>

{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
<link rel="icon" href="{% static 'img/logo.png' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/landingpage.css' %}"  media="screen,projection"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>
<script>
      $(document).ready(function() {
            $('#fullpage').fullpage({
                anchors:['hello', 'slider'],
                slidesNavigation: true,
                slidesNavPosition:'bottom',
                controlArrows: false,
            });
      })
</script>
</head>
<style>

</style>
<body id="content">
<div id="fullpage">

<section class="section" id="section0">
    <style>.flow-text{font-size:1.1rem; max-width:600px; margin:1rem auto; word-break: normal;}</style>
    <div style="padding:0 0.5rem">
    <div class="logotext">
    {% load staticfiles %}
    J<img src="{% static 'img/logo.svg' %}">STDOIST
    </div>
    <h5>UNLEASH YOUR PRODUCTIVITY</h5>
    <p class="flow-text">
        JustDoist is an amazing service for learning personal productivity and time-managment skills. <br>
        Ger personalized tips on how to achieve your daily goals and step-by-step guides on boosting your efficiency.<br><br>
        We use advanced technology to analyse your planning habits and create custom learning program.
    </p>
    <a href="/login" class="waves-effect waves-light btn-large white red-text" >Sign Up</a>
    <h5>SEE JUSTDOIST IN ACTION</h5>
    <a href="#slider" class="waves-effect waves-light btn-floating white"><i class="material-icons red-text">arrow_downward</i></a>
</div>
</section>
<section class="section" id="section1">
    {% load staticfiles %}
    <div class="slide" data-anchor="slide1"> <img src="{% static 'img/slider3.png' %}" class="z-depth-4"> </div>
	<div class="slide" data-anchor="slide2"> <img src="{% static 'img/slider4.png' %}" class="z-depth-4"> </div>
	<div class="slide" data-anchor="slide3"> <img src="{% static 'img/slider1.png' %}" class="z-depth-4"> </div>
	<div class="slide" data-anchor="slide4"> <img src="{% static 'img/slider2.png' %}" class="z-depth-4"> </div>
</section>

</div>
</body>
</html>