<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JustDoist</title>

{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}"  media="screen,projection"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/showdown.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>

<link rel="icon" href="{% static 'img/logo.png' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}"  media="screen,projection"/>

</head>
<body id="content">
<div class="wrapper">
<div class="cont">
    <div class="row">
    <div class="logotext">
    J<img src="{% static 'img/logo.svg' %}">STDOIST
    </div>
    <li class="divider white"></li>
    </div>
    <div class="row">
        <div class="flow-text white-text">Authorization</div><br>
        <form class="col s12" action="" method="post" novalidate>{% csrf_token %}
            {% if form.non_field_errors.0 %}
            <div class="row yellow-text lighten-2">
                {{ form.non_field_errors.0 }}
            </div>
            {% endif %}
            <div class="row">
            <div class="input-field col s12">
                {{ form.username }}
                <label for="id_username">Username</label>
                <small id="usernameHelp" class="text-danger yellow-text lighten-2">
                    {{ form.errors.username.0 }}
                </small>
            </div>
            <div class="input-field col s12">
                {{ form.password }}
                <label for="id_password">Password</label>
                <small id="passwordHelp" class="text-danger yellow-text lighten-2">
                    {{ form.errors.password.0 }}
                </small>
            </div>
            </div>

            <button type="submit" class="waves-effect waves-light btn white right">Sign In</button>
             <div class="white-text left" style="line-height: 1.3;">
                Sign in to your account<br>
                <a href="{% url 'register' %}" class="yellow-text lighten-2">Don't have one? Register!</a>
            </div>

        </form>
    </div>
</div>
</div>

</body>
<script>
    jQuery(function($){
        $('#id_username, #id_password').addClass('form-control');
        $('#id_username').attr('placeholder','Имя пользователя...');
        $('#id_password').attr('placeholder','Пароль...');
    });
</script>

</html>
