<html>
<head>
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>JustDoist</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>



<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colorscheme.js' %}"></script>
<meta http-equiv="Cache-Control" content="no-cache">
<link rel="icon" href="{% static 'img/logo.png' %}">
</head>
<style id="style-color">
    :root {
      --color-red: #e44332ff;
      --color-blue: #1B92C6;
    }
</style>
<script>
Stripe.setPublishableKey('{{ stripe_key }}');
function stripeResponseHandler(status, response) {
    if (response.error) {
        $('.submit-button').removeAttr("disabled");
        $(".payment-errors").html(response.error.message);
        $('.input-field > input').addClass('invalid');
    } else {
        var form$ = $("#payment-form");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
        // and submit
        form$.get(0).submit();
    }
}
$(document).ready(function() {
    $("#payment-form").submit(function(event) {
        $('.submit-button').attr("disabled", "disabled");
        var chargeAmount = 1000;

        Stripe.createToken({
            number: $('.card-number').val(),
            cvc: $('.card-cvc').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val()
        }, chargeAmount, stripeResponseHandler);
        return false; // submit from callback
    });
});
if (window.location.protocol === 'file:') {
    alert("stripe.js does not work when included in pages served over file:// URLs. Try serving this page over a webserver. Contact support@stripe.com if you need assistance.");
}
</script>

<body id="content">

<nav class="layout-color">
<div class="nav-wrapper layout-color">
  {% load staticfiles %}
  <a href="" class="brand-logo left" style="font-weight: 600; margin-left: 1rem;">J <img id="logo_img" src="{% static 'img/logo_red.svg' %}"> stDoist</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="/index"><i class="material-icons left">description</i>PROBLEMS</a></li>
    <li><a href="/profile/no_add"><i class="material-icons left">equalizer</i>PROGRESS</a></li>
    <li><a href="" class="active"><i class="material-icons left">settings</i>SETTINGS</a></li>
    <li><a href="/contact_us"><i class="material-icons left">info_outline</i>CONTACT US</a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
  </ul>
  <ul class="right hide-on-large-only">
    <li><a href="/index"><i class="material-icons">description</i></a></li>
    <li><a href="/profile/no_add"><i class="material-icons">equalizer</i></a></li>
    <li><a href="" class="active"><i class="material-icons">settings</i></a></li>
    <li><a href="/contact_us"><i class="material-icons">info_outline</i></a></li>
    <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
  </ul>

</div>
</nav>
    <style>
    .small{
        font-size: 1.2rem;
    }
    .input-field label {
     color: #333 !important;
    }
    .input-field input[type=text]:focus + label {
     color: #333 !important;
    }
    .input-field input[type=text]:focus {
     border-bottom: 1px solid var(--color-red) !important;
     box-shadow: 0 1px 0 0 var(--color-red) !important;
    }
    .input-field input[type=text].valid {
     border-bottom: 1px solid green !important;
     box-shadow: 0 1px 0 0 green !important;
    }
    .input-field input[type=text].invalid {
     border-bottom: 1px solid red !important;
     box-shadow: 0 1px 0 0 red !important;
    }
    .input-field .prefix.active {
     color: #fff !important;
    }
    </style>
<!--  Main  -->
<div class="container" style="width:85%;"><div class="row">

<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h4 style="margin-top: -0.5rem;">Buy weekly subscription</h4>
            <div class="valign-wrapper">
                <div class="col s12" style="margin:0; padding:0;">

                    <form action="/checkout/weekly" method="POST" id="payment-form">
                        {% csrf_token %}
                        {% load staticfiles %}
                        <p class="payment-errors"></p>
                        <div class="row">
                        <div class="input-field col s12">
                            <label>Card Number</label>
                            <input type="text" size="16" autocomplete="off" class="card-number" placeholder="0000 0000 0000 0000" />
                        </div>
                        <div class="input-field col s4">
                            <label>CVC</label>
                            <input type="text" size="3" autocomplete="off" class="card-cvc" placeholder="000"/>
                        </div>
                        <div class="input-field col s4">
                            <label>Expiration</label>
                            <input type="text" size="2" placeholder="00" class="card-expiry-month"/>
                        </div>
                        <div class="input-field col s4">
                            <input type="text" size="4" placeholder="0000"  class="card-expiry-year"/>
                        </div>
                        <div class="input-field col right">
                        <button type="submit" class="submit-button aves-effect waves-light btn red right">Pay $ 0.01</button>
                        </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</div></div>


</body>

<script>
$(document).ready(function(){
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        startingTop: '0%', // Starting top style attribute
        endingTop: '0%' // Ending top style attribute
    });
    $('.tooltipped').tooltip({delay: 50});
    $('select').material_select();
    $(".dropdown-button").dropdown({hover:true});
    drawcolor();
});
</script>
</html>
